@font-face {
    font-family: 'Iosevka Mono';
    src: url('../fonts/IosevkaMono-NormalRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.code-header {
  
  color: #FAFAFA;
  background-color: #404145;
  border-radius: 3px;
  padding: 0 10px 0 10px;
  font-family: "Iosevka Mono",monospace,sans-serif;
  margin-right: 10px;
  margin-top: -12.5px;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  position: absolute;
  right: 30px;

  /* the label block */
  span {

    /* label text */
    &::after {
      content: attr(data-label-text);
      font-size: 0.85em;
      font-weight: 600;
    }
  }

	.copy-code {
    color: #FAFAFA;
    background: none;
    cursor:pointer;
    margin-right: 15px;
    border: none;
    font-size: 0.85em;
  }
}

.highlighter-rouge > div.highlight {
  overflow: visible;
}

pre, code, tt {
	font-family: "Iosevka Mono", monospace;
	font-size: 0.85em;
	white-space: pre-wrap;
	border-radius: 2px;
	line-height: 1.4;
	font-weight: 400;
	background-color: #404145;
	color: #FAFAFA;
	border-radius: 2px;
}

pre {
	box-sizing: border-box;
	margin: 0 0 1.75em 0;
	width: 100%;
	padding: 10px;
	font-size: 0.9em;
	white-space: pre;
	overflow: auto;
	border-radius: 3px;

	code, tt {
		font-size: inherit;
		white-space: pre-wrap;
		background: transparent;
		border: none;
		padding: 0
	}
}

blockquote > code,
li > code,
p > code {
	padding: 4px 6px;
	white-space: nowrap;
	border-radius: 5px;
	background-color: whitesmoke;
	color: black;
}
